* {
  font-family: 'Roboto';
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
}
.random-image {
  height: 270px;
}
.tab-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.thumbnail-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  flex-wrap: wrap;
}
.result-background {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 80vh;
  width: 50vw;
  padding: 20px;
}
.trophy {
  width: 200px;
}
.result-card {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.score-text {
  font-size: 20px;
  color: white;
}
.score {
  font-size: 28px;
  color: white;
  text-align: center;
}
.restart-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #cf60c8;
  padding: 5px;
  border-radius: 7px;
  border-width: 0px;
  color: white;
}
.restart-icon {
  height: 16px;
  margin-right: 10px;
}
